@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

/* Shared style */
.display-flex {
    display: flex;
}

.btn-primary {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 20px;
    border: none;

}

.section-title {
    font-size: 2.8rem;
    font-weight: bold;
 }

/* orange color */
.orange {
    color: rgba(255, 144, 14, 1);
}
/* Dark-2 color */
.dark-2 {
    color: rgba(66, 66, 66, 1);
}
/* Dark-2 color */
.dark-3 {
    color: rgba(114, 114, 114, 1);
}



/* HEADER STYLE */

.navber, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
.header-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

/* navber style */
 
.navber {
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.nav-item {
 list-style: none;
 margin-right: 30px;
}
.nav-links {
    justify-content: space-around;
}
.nav-link {
    text-decoration: none;
}
.brand {
    font-size: 3rem;
    font-weight: bold;
}

/* this banner section style */

.banner {
    justify-content: center;
}
.banner-content {
    
    margin: o auto;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
}

.banner-title {
 font-weight: bold;
 font-size: 3.8rem;
}
.banner-img {
    width:100%;
}

/* main section style */

main {
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
.feature-and-images-parent {
    align-items: center;
}


.group-images {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
 .our-features {
    margin-left: 100px;
    max-width: 540px;
    justify-items: center;
    text-align: center;
 }


 #quick-list {
    font-weight: 500;

 }
 .Features-text {
    color: rgba(255, 144, 14, 1);
 }


 /* some facts section */


 .some-fact-parent{
    max-width: 540px;
    justify-items: center;
    text-align: center;
 }
 .facts-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
 }
 .fact-card {
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .fact-number {
    font-weight: 700;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

 }
 .fact-name {
    font-size: 1.2rem;
    color: rgba(114, 114, 114, 1);
 }
  .first-discription {
    max-width: 540px;
  }

  /* Our sponspors section  */

  .our-sponspors-text {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
    align-items: center;
    
  }
  .brand-imgage {
    filter: grayscale(100%);
    
    justify-items: center;
    
  }


  .brand-imgage {
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }

  /* features your will lonve and enjoy section */

  .fratures-title {
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 30px;
    font-size: 3rem;
    font-weight: bold;
  }

  .features-description {
    font-size: 1rem;
    margin-top: -10px;
  }

  .features-card{
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  }

  .card-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .features-main-container {
     gap: 140px;
  }
  #experience-badge {
    padding: 45px 42px;
    margin-top: -100px;
    margin-left: -80px;
  }
  .experience-year {
    font-weight: bold;
    font-size: 4rem;
  }
  .ex-name {
    font-weight: 500;
    font-size: 1.8rem;
  }

  footer {
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    font-size: 1.25rem;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
  }



/* media query responsive */
/* small device responsive */
@media screen and (max-width:576px) {
    .navber, .nav-links, .feature-and-images-parent,.features-main-container {
        flex-direction: column;
    }
    .group-images {
        grid-template-columns: repeat(1,1fr);
        
    } 
    .our-features {
       margin-left: 0px;
     }

     .facts-container {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
        
     }
     .brand-imgage {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 20px;
        
      }

      .features-larg-image img {
        width: 100%;
      }
      
      #experience-badge {
        
        margin-top: 20px;
        margin-left: 20px;
      }

    
}


/* medium size device responsive */
@media screen and (min-width:576px) and (max-width:992px) {
   .feature-and-images-parent ,.features-main-container{
    flex-direction: column;
   }
   .some-fact-parent{
    max-width: 540px;
     margin: 0 auto;
     text-align: center;
    }


   .facts-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
     gap: 50px;
     justify-items: center;
 }
   .brand-imgage {
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
   
    }
    .features-larg-image {
        text-align: center;
    }

    #experience-badge {
        
        margin-top: 10px;
        margin-left: 0px;
        
        
      }
    
}

