@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* Shared style */
.display-flex {
    display: flex;
}

.btn-primary {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 20px;
    border: none;

}

.section-title {
    font-size: 2.8rem;
    font-weight: bold;
 }

/* orange color */
.orange {
    color: rgba(255, 144, 14, 1);
}
/* Dark-2 color */
.dark-2 {
    color: rgba(66, 66, 66, 1);
}
/* Dark-2 color */
.dark-3 {
    color: rgba(114, 114, 114, 1);
}



/* HEADER STYLE */

.navber, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
.header-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

/* navber style */
 
.navber {
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.nav-item {
 list-style: none;
 margin-right: 30px;
}
.nav-links {
    justify-content: space-around;
}
.nav-link {
    text-decoration: none;
}
.brand {
    font-size: 3rem;
    font-weight: bold;
}

/* this banner section style */

.banner {
    justify-content: center;
}
.banner-content {
    margin: o auto;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
}

.banner-title {
 font-weight: bold;
 font-size: 4rem;
}
.banner-img {
    width:100%;
}

/* main section style */

main {
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
.feature-and-images-parent {
    align-items: center;
}


.group-images {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
 .our-features {
    margin-left: 100px;
 }


 #quick-list {
    font-weight: 500;

 }
 .Features-text {
    color: rgba(255, 144, 14, 1);
 }


 /* some facts section */


 .some-fact-parent{
    max-width: 540px;
 }
 .facts-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
 }
 .fact-card {
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .fact-number {
    font-weight: 700;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

 }
 .fact-name {
    font-size: 1.2rem;
    color: rgba(114, 114, 114, 1);
 }
  .first-discription {
    max-width: 540px;
  }

  /* Our sponspors section  */

  .our-sponspors-text {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
    
  }
  .brand-imgage {
    filter: grayscale(100%);
    
  }


  .brand-imgage {
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }

/* media query responsive */
/* small device responsive */
@media screen and (max-width:576px) {
    .navber, .nav-links, .feature-and-images-parent {
        flex-direction: column;
    }
    .group-images {
        grid-template-columns: repeat(1,1fr);
        
    } 
    .our-features {
       margin-left: 20px;
     }

     .facts-container {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
        
     }
     .brand-imgage {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 20px;
        
      }
     

    
}


/* medium size device responsive */
@media screen and (min-width:576px) and (max-width:992px) {
   .feature-and-images-parent {
    flex-direction: column;
   }
   .some-fact-parent{
    max-width: 540px;
     margin: 0 auto;
     text-align: center;
    }


   .facts-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
     gap: 50px;
     justify-items: center;
 }
   .brand-imgage {
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
   
      
    }
    
}

